body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#app_name {
    margin-left: 5%;
    font-size: 32px;
    font-weight: 900;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: dimgray;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 90%;
    margin: 0 auto 0 auto;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li:last-child {
    border-right: none;
    float: right;
}

li a:hover {
    background-color: #111;
}

.active a{
    background: black;
}

input[type='file'] {
  color: transparent;
}

#dragndrop {
    /*margin-left: 235px;*/
    border-radius: 10px;
    border: 5px dashed black;
    width: 600px;
    height: 200px;
    text-align: center;
}

#dragndrop p {
    padding-top: 90px;
}

#uploadbutton {
    position: absolute;
    margin-top: 70px;
    margin-left: -68px;
}

#upload_title {
    font-weight: 200;
    font-size: 25px;
    padding: 0;
}

#formats {
    color: #999;
    font-size: 15px;
}

.button:hover {
    cursor:pointer;

}

#download_button, #download_scores {
    background: #4a9fee;
    color: white;
}

#download_scores {
    float: right;
    margin-right: 5%;
}

#delete_button {
    background: #ff6346;
    color: white;
}

#edit_button {
    background: #7eb063;
    color: white;
}
#editor_buttons {
    float: right;
    margin-right: 10%;
}
.button {
    border: 0px;
    border-radius: 3px;
    height: 40px;
}

#content {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    /*background: red;*/
    text-align:center;
}

#index_table {
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
}

#file_to_html {
    width: 100%;
}

#files_to_html_table {
    width: 90%;
}

#files_to_html_table td {
    border: 1px solid black;
}

#files_to_html_table td td{
    border: 0px solid black;
    width: 100%;
}

#manager_table, #formula, #analyze_table_container, #analyze_table{
    margin: 0 auto 0 auto;
    margin-top: 50px;
}

#manager_table {
    width: 90%;
    padding-bottom: 50px;
}
#manager_table td {
    padding-left: 10px;
    padding-right: 10px;
}

#analyze_table_container {
    width: 100%;
}

#analyze_table{
    margin-top: 0;
    width: 90%;
    border: 5px solid black;
}

#analyze_table #header{
    background: #111;
    color: white;
}

#analyze_table td{
    height: 50px;
}

#analyze_table #even{
    background: white;
}

#analyze_table #odd{
    background: white;
}

#analyze_table #even:hover, #analyze_table #odd:hover {
    background: lightblue;
}

textarea {
    width: 80%;
    height: 300px;
    display: block;
    outline: none;
    resize: none;
    margin: 0 auto 0 auto;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
textarea:focus{
	outline: none;
    border: 1px solid lightblue;
}

#bold{
    font-weight: bold;
}

#tw_table {
    border-radius: 10px;
    border: 5px solid black;
    padding: 20px;
    margin-top: 40px;
}

#quantity {
    width: 290px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 15px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

#error_message {
    color: red;
    width: 80%;
}


.number {
    width: 100px;

}

.se-pre-con {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    /*visibility: hidden;*/
	width: 100px;
	height: 100px;
	z-index: 9999;
    /*border: 1px solid black;*/
	background: url(loading.gif) center no-repeat #fff;
}

#formula {
    border-radius: 10px;
    border: 5px solid black;
}
