{% extends "base.html" %}
{% set active_page = active_page %}
{% block content %}
    <div id="loading"></div>
    {% set count = 0 %}
    {% set count2 = 0 %}
    {% if labels|length > 0 %}
    <form method='POST' id="test">
    <table id="formula" align="center">
        <tr>
        {% for temp_label,oper1,quant,oper2 in zipped_data %}
            {% if temp_label != labels[labels|length - 1] %}
                <td align="right">{{temp_label}}
            {% else %}
                <td align="left">{{temp_label}}
            {% endif %}
            {% if count < labels|length and active_dictionaries[count] == True %}

            <select form="test" name="op1[]">
                <option value="*" {% if oper1 == '*' %} selected='selected'{% endif %}>x</option>
                <option value="/" {% if oper1 == '/' %} selected='selected'{% endif %}>/</option>
                <option value="+" {% if oper1 == '+' %} selected='selected'{% endif %}>+</option>
                <option value="-" {% if oper1 == '-' %} selected='selected'{% endif %}>-</option>
            </select>
            <input type="number" class="number" name="quantity[]" value="{{ quant }}">

            {% if temp_label != labels[labels|length - 1] %}
                <select form="test" name="op2[]">
                    <option value="+" {% if oper2 =='+' %} selected='selected'{% endif %}>+</option>
                    <option value="-" {% if oper2 =='-' %} selected='selected'{% endif %}>-</option>
                    <option value="*" {% if oper2 =='*' %} selected='selected'{% endif %}>x</option>
                    <option value="/" {% if oper2 =='/' %} selected='selected'{% endif %}>/</option>
                </select>
            {% endif %}
            {% if temp_label == labels[labels|length - 1] %}
                <input type="hidden" name="quantity[]" value="'1'">
                <input type="hidden" name="op2[]" value="+">

            {% endif %}
        </td>
        {% endif %}
        {% set count = count + 1 %}
        {% set count2 = count2 + 1 %}
        {% if count2 == 4 %}
            {% set count2 = 0%}
                </tr><tr>
            {% endif %}
        {% endfor %}

        </tr>
        <tr>
            <td colspan="4" align="center">
                <input type="hidden" name="Save formula">
                <input class='button' id='edit_button' type='submit' value='Save formula'>
            </td>
        </tr>
    </table>
    </form>
    {% endif %}
    <!--------------------------------------------------->

    {% if content is defined %}
        {% if corpus_count > 0  %}
            <table id='analyze_table_container' align="center">
            <tr>
                <td colspan="100" align="center">
                    <form method='POST'>
                        <input type='hidden' name='analyze' value='analyze'>
                        <input class='button' id='edit_button' value="Get results" type='submit'>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <div>{{ content|safe }}</div>
                </td>
            </tr>
            </table>
        {% elif corpus_count > 0%}
            <p>Upload at least a dictionary</p>
        {% elif dictionary_count > 0%}
            <p>Upload at least a file</p>
        {% else %}
            <p>Must have at least one active file and dictionary</p>
        {% endif %}
    {% endif %}
{% endblock %}