<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to ...</title>
    {% endif %}
      <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
      <script>
          function toggle(source) {
              var checkboxes = document.querySelectorAll('input[type="checkbox"]');
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i] != source)
                        checkboxes[i].checked = source.checked;
                }
          }
      </script>
  </head>
  <body>
    <ul>
        <li><a href="/index">Upload</a></li>
        <li><a href="/FileManager">File Manager</a></li>
        <li><a href="/DictionaryManager">Dictionary Manager</a></li>
        <li><a href="/Analyze">Analyze</a></li>
        <li><a href="/Reset">Reset</a></li>
    </ul>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
  </body>
</html>