<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to ...</title>
    {% endif %}
      <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
 <script src="{{url_for('static', filename='myscripts.js')}}"></script>
  <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='modernizr.js')}}"></script>
<a href="#" id="return-to-top" onclick="top();"><i class="icon-chevron-up"></i></a>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
      <script>
          function toggle(source,id) {
              var checkboxes = document.querySelectorAll('#'+id);
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i] != source)
                        checkboxes[i].checked = source.checked;
                }
          }
          function toggle_oh(source,id) {
              var checkboxes = document.querySelectorAll('.'+id);
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i] != source) {
                        checkboxes[i].checked = source.checked;
                    }

                }
          }
          $(window).load(function() {
              $(".se-pre-con").fadeOut("slow");
          });
          $(window).submit(function() {
              $(".se-pre-con").fadeIn("slow");
          });
          function showButton(){
                var buttons = document.getElementsByName("edit_button");
                var new_labels = document.getElementsByName("label");
                var new_label_list = document.getElementsByName("new_label_list");
                var new_labels_values = '';
                for(var x = 0;x < new_labels.length;x++) {
                    new_labels_values += new_labels[x].value + ' ';
                }
                for(var x = 0;x < new_label_list.length;x++) {
                    new_label_list[x].value = new_labels_values;
                }
                buttons[0].style.visibility=  "visible";
            }
      </script>
      {% set navigation_bar = [
        ('/index', 'index', 'Upload'),
        ('/FileManager', 'FileManager', 'File Manager'),
        ('/DictionaryManager', 'DictionaryManager', 'Dictionary Manager'),
        ('/Analyze', 'Analyze', 'Analyze'),
        ('/Reset', 'Reset', 'Reset')

        ] -%}
      {% set active_page = active_page|default('index') -%}
  </head>
  <body>
    <div id="app_name">OHA</div>
    <ul id="navigation">
        {% for href, id, caption in navigation_bar %}
        <li{% if id == active_page %} class="active"{% endif%}>
        <a href="{{ href|e }}">{{ caption|e }}</a>
        </li>
        {% endfor %}
    </ul>
    <div id="content">
        <div class="se-pre-con"></div>
        {% block content %}{% endblock %}
    </div>
  </body>
</html>