<!DOCTYPE html>
{% extends "base.html" %}
{% set active_page = "DictionaryManager" %}
{% block content %}
    <table id="manager_table">
        <tr>
            <td align="center">
                <table>
    {% if dictionaries is defined and dictionaries|length > 0 %}
        {% set count = 0 %}
                        <tr>
                            <td>
                                <form method='POST'>
                                    <input type='hidden' name='check_all'>
                                    <input type="checkbox"  onclick="toggle(this,'file');" onchange='this.form.submit();' {{'checked' if check_all == 1}}>
                                </form>
                            </td>
                            <td align="left" id="bold">Active dictionaries</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td align="center"><input form="edit_label" class='button' name='edit_button' id='edit_button' type='submit' value='Save labels' style="visibility: hidden"></td>
                        </tr>
                        {% for active, label, dictionary in zipped_data %}
                        <tr>
                            <td>
                                <form method='POST'>
                                    <input type='hidden' name='dictionary[]' value='{{dictionary}}'>
                                    <input type='checkbox' id='file' {{'checked' if active != ''}} onclick='this.form.submit();'>
                                </form>
                            </td>
                            <td align="left">{{dictionary}}</td>
                            <td>
                                <form method='POST'>
                                    <input type='hidden' name='edit' value='{{dictionary}}'>
                                    <input class='button' id='edit_button' type='submit' value='Edit'>
                                </form>
                            </td>
                            <td>
                                <form method='POST'>
                                    <input type='hidden' name='download' value='{{dictionary}}'>
                                    <input class='button' id='download_button' type='submit' value='Download'>
                                </form>
                            </td>
                            <td>
                                <form method='POST'>
                                    <input type='hidden' name='delete[]' value='{{dictionary}}'>
                                    <input class='button' id='delete_button' type='submit' value='Delete'>
                                </form>
                            </td>
                            <td>
                                <form id="edit_label" method='POST'>
                                    <input type='hidden' name='dictionary[]' value='{{dictionary}}'>
                                    <input type='text' name='label[]' value='{{label}}' onkeyup="showButton(); updateLabelArray();">
                                    <input type='hidden' name='new_label_array'>
                                </form>
                            </td>
                        </tr>
                        {% set count = count + 1 %}
                        {% endfor %}

            </tr>

    {% else %}
            <p>Upload a dictionary</p>
    {% endif %}
                        <tr height="30px"></tr>
                        <tr>
                            <td>
                                <form method='POST'>
                                    <input type='hidden' name='check_all_oh'>
                                    <input type="checkbox" onchange="toggle_oh(this,'oh'); this.form.submit();" {{'checked' if check_all_oh == 1}}>
                                </form>
                            </td>
                            <td align="left" colspan="4" id="bold">Organizational Hardiness</td>

                            <td align="center"><input form="oh_edit_button" class='button' name='oh_edit_button' id='edit_button' type='submit' value='Save labels' style="visibility: hidden"></td>
                        </tr>
                        {% if check_all_oh == 0 %}
                            <tr class='oh' style="visibility:hidden">
                        {% else %}
                            <tr class='oh' style="visibility:visible">
                        {% endif %}
                            <td>
                                <form method='POST'>
                                    <input type='hidden' name='oh' value='opportunity'>
                                    <input type='checkbox' class='oh' onchange="this.form.submit();" {{'checked' if active_oh[0] == 1}}>
                                </form>
                            </td>
                            <td align="left">Opportunity</td>
                            <td></td>
                            <td>
                                <form method='POST'>
                                    <input type='hidden' name='download' value='Opportunity.txt'>
                                    <input class='button' id='download_button' type='submit' value='Download'>
                                </form>
                            </td>
                            <td></td>
                            <td align="left" colspan="4">
                                <form id="oh_edit_button" method='POST'>
                                    <input type='hidden' name='dictionary' value='Oportunity.txt'>
                                    <input type='text' name='oh_label' value='{{oh_labels[0]}}' onkeyup="showOHButton(); updateOHLabelList();">
                                    <input type='hidden' name='label_index' value='0'>
                                    <input type='hidden' name='new_oh_label_list'>
                                </form>
                            </td>

                        </tr>
                        {% if check_all_oh == 0 %}
                            <tr class='oh' style="visibility:hidden">
                        {% else %}
                            <tr class='oh' style="visibility:visible">
                        {% endif %}
                            <td>
                                <form method='POST'>
                                    <input type='hidden' name='oh' value='threat'>
                                    <input type='checkbox' class='oh' onchange="this.form.submit();" {{'checked' if active_oh[1] == 1}}>
                                </form>
                            </td>
                            <td align="left">Threat</td>
                            <td></td>
                            <td>
                                <form method='POST'>
                                    <input type='hidden' name='download' value='Threat.txt'>
                                    <input class='button' id='download_button' type='submit' value='Download'>
                                </form>
                            </td>
                            <td></td>
                            <td align="left" colspan="4">
                                <form id="oh_edit_button" method='POST'>
                                    <input type='hidden' name='dictionary' value='Threat.txt'>
                                    <input type='text' name='oh_label' value='{{oh_labels[1]}}' onkeyup="showOHButton(); updateOHLabelList();">
                                    <input type='hidden' name='label_index' value='1'>
                                    <input type='hidden' name='new_oh_label_list'>
                                </form>
                            </td>
                        </tr>
                        {% if check_all_oh == 0 %}
                            <tr class='oh' style="visibility:hidden">
                        {% else %}
                            <tr class='oh' style="visibility:visible">
                        {% endif %}
                            <td>
                                <form method='POST'>
                                    <input type='hidden' name='oh' value='enactment'>
                                    <input type='checkbox' onchange="this.form.submit();" {{'checked' if active_oh[2] == 1}}>
                                </form>
                            </td>
                            <td align="left">Enactment</td>
                            <td></td>
                            <td>
                                <form method='POST'>
                                    <input type='hidden' name='download' value='Enactment.txt'>
                                    <input class='button' id='download_button' type='submit' value='Download'>
                                </form>
                            </td>
                            <td></td>
                            <td align="left" colspan="4">
                                <form id="oh_edit_button" method='POST'>
                                    <input type='hidden' name='dictionary' value='Enactment.txt'>
                                    <input type='text' name='oh_label' value='{{oh_labels[2]}}' onkeyup="showOHButton(); updateOHLabelList();">
                                    <input type='hidden' name='label_index' value='2'>
                                    <input type='hidden' name='new_oh_label_list'>
                                </form>
                            </td>
                        </tr>
                        {% if check_all_oh == 0 %}
                            <tr class='oh' style="visibility:hidden">
                        {% else %}
                            <tr class='oh' style="visibility:visible">
                        {% endif %}
                            <td>
                                <form method='POST'>
                                    <input type='hidden' name='oh' value='org_identity'>
                                    <input type='checkbox' class='oh' onchange="this.form.submit();" {{'checked' if active_oh[3] == 1}}>
                                </form>
                            </td>
                            <td align="left">Organizational Identity</td>
                            <td></td>
                            <td>
                                <form method='POST'>
                                    <input type='hidden' name='download' value='Org_Identity.txt'>
                                    <input class='button' id='download_button' type='submit' value='Download'>
                                </form>
                            </td>
                            <td></td>
                            <td align="left" colspan="4">
                                <form id="oh_edit_button" method='POST'>
                                    <input type='hidden' name='dictionary' value='Org_Identity.txt'>
                                    <input type='text' name='oh_label' value='{{oh_labels[3]}}' onkeyup="showOHButton(); updateOHLabelList();">
                                    <input type='hidden' name='label_index' value='3'>
                                    <input type='hidden' name='new_oh_label_list'>
                                </form>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
{% endblock %}