<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    <h1>Edit {{file_name}}</h1>
    <textarea form="save" name='save_content' >
        {{file_content}}
    </textarea>
    <table id="editor_buttons">
        <tr>
            <td>
                <form id="save" method='POST'>
                    <input type='hidden' name='save_filename' value='{{file_name}}'>
                    <input class='button' id='edit_button' type='submit' value='Save'>
                </form>
            </td>
            <td>
                <form method='POST'>
                    <input class='button' id='delete_button' type='submit' value='Cancel'>
                </form>
            </td>
        </tr>
    </table>
{% endblock %}