<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    {% set count = 0 %}
    <table>
        {% for corpus in corpora %}
        <tr>
            <td>
                <form method='POST'>
                    <input type='hidden' name='corpus' type='text' value='{{corpus}}'>
                    <input type='hidden' name='index' type='number' value={{count}}>
                    <input type='checkbox' {{'checked' if active_corpora[count] != ''}} onchange='this.form.submit();'>
                </form>
            </td>
            <td>{{corpus}}</td>
            <td>
                <form method='POST'><input type='hidden' name='download' type='text' value='{{corpus}}'>
                    <input id='my_submit' type='submit' value='Download'>
                </form>
            </td>
            <td>
                <form method='POST'><input type='hidden' name='delete' type='text' value='{{corpus}}'>
                    <input id='my_submit' type='submit' value='Delete'>
                </form>
            </td>
        </tr>
        {% set count = count + 1 %}
        {% endfor %}

    </table>
{% endblock %}