<!DOCTYPE html>
{% extends "base.html" %}
{% set active_page = "FileManager" %}
{% block content %}
    {% if corpora is defined and corpora|length > 0 %}
        {% set count = 0 %}
<script>
window.onload=function(){
  //document.getElementById("edit_button").style.visibility= "hidden";

  let buttons = document.getElementsByName("edit_button");//.style.visibility= "hidden";
  for(let x=0; x < buttons.length; x++)   // comparison should be "<" not "<="
  {
        buttons[x].style.visibility= "hidden";
  }
}

function showButton(index){
    let buttons = document.getElementsByName("edit_button");
    let new_labels = dodument.getElementsByName("label");
    //{% set new_labels = new_labels%}
    //for(let x=0; x < new_labels.length;){}
    buttons[index].style.visibility=  "visible";
}
</script>
        <table id="manager_table">
            <tr>
                <td>
                    <form method='POST'>
                        <input type='hidden' name='check_all'>
                        <input type="checkbox" {{'checked' if check_all == 1}} onclick="toggle(this);" onchange='this.form.submit();'>
                    </form>
                </td>
                <td align="left">Active files</td>
            </tr>
            {% for corpus in corpora %}
            <tr>
                <td>
                    <form method='POST'>
                        <input type='hidden' name='corpus' value='{{corpus}}'>
                        <input type='hidden' name='index' value={{count}}>
                        <input type='checkbox' id='file' {{'checked' if active_corpora[count] != ''}} onclick='this.form.submit();'>
                    </form>
                </td>
                <td align="left">{{corpus}}</td>
                <td>
                    <form method='POST'>
                        <input type='hidden' name='download' value='{{corpus}}'>
                        <input class='button' id='download_button' type='submit' value='Download'>
                    </form>
                </td>
                <td>
                    <form method='POST'>
                        <input type='hidden' name='delete' value='{{corpus}}'>
                        <input type='hidden' name='del_index' value={{count}}>
                        <input class='button' id='delete_button' type='submit' value='Delete'>
                    </form>
                </td>
                <td>
                    <form method='POST'>
                        <input type='text' name='label' value='{{labels[count]}}' onkeyup="showButton({{count}})">
                        <input type='hidden' name='label_index' value={{count}}>
                        <input type='hidden' name='new_labels'>
                        <input class='button' name='edit_button' id='edit_button' type='submit' value='Save label' style="visibility: hidden">
                    </form>
                </td>
            </tr>
            {% set count = count + 1 %}
            {% endfor %}
        </table>
    {% else %}
            <p>Upload a file</p>
    {% endif %}
{% endblock %}