{% extends "base.html" %}
{% set active_page = active_page %}
{% block content %}
    <table id="index_table">
        <tr>
            <td align="center">
                <div id="upload_title">File Upload</div>
                <div id="formats">Formats Supported: .txt, .csv, .docx</div>
            </td>
            <td align="center">
                <div id="upload_title">Dictionary Upload</div>
                <div id="formats">Formats Supported: .txt, .csv, .docx</div>
            </td>
        <tr>
            <td align="center">
                <form action="index" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="upload" value="corpus">
                    <input id="uploadbutton" type="file" multiple="multiple" name="file[]" onchange="this.form.submit();">
                    <div id="dragndrop"><p>or drop files here</p></div>
                </form>
            </td>
            <td align="center">
                <form action="index" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="upload" value="dictionary">
                    <input id="uploadbutton" type="file" multiple="multiple" name="file[]" onchange="this.form.submit();">
                    <div id="dragndrop"><p>or drop files here</p></div>
                </form>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                {{corpora|safe}}
            </td>
            <td align="center" valign="top">
                {{dictionaries|safe}}
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <table id="tw_table">
                    <tr>
                        <td align="center">
                            <div id="upload_title">Tweet Search</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form method='POST'>
                                <input type='text' name='search_query'>
                                <input class='button' id='download_button' type='submit' value='Search'>
                            </form>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}