{% extends "base.html" %}
{% set active_page = active_page %}
{% block content %}

    <table id="index_table">
        <tr>
            <td>
                <label class="switch"><input type="checkbox" id="togBtn" ><div class="slider round" onclick="flip();"><span class="on">File Upload</span><span class="off">Tweet Search</span></div></label>
            </td>
        </tr>
        <tr>
            <td align="center">
                <span class="on_">
                <div  id="upload_title" >File Upload</div>
                <div  id="formats">Max. file size: 250 MB | Formats Supported: .txt, .csv, .docx</div>
                </span>
                <span name="off_" style="display: none">
                <div  id="upload_title" >Tweet Search</div>
                <div  id="formats">Specifications:...</div>
                </span>
            </td>
            <td align="center">
                <div id="upload_title">Dictionary Upload</div>
                <div id="formats">Max. file size: 250 MB | Formats Supported: .txt, .csv, .docx</div>
            </td>
        <tr>
            <td align="center">
                <form class="on_" action="index" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="upload" value="corpus">
                    <input id="uploadbutton" type="file" multiple="multiple" name="file[]" onchange="this.form.submit();">
                    <div id="dragndrop"><p>or drop files here</p></div>
                </form>
                <table id="tw_table" name="off_" style="display: none">

                    <tr>
                        <td align="center">
                            Number of tweets:
                            <input  form="tw" type="number" id="quantity" name="quantity" min="1" max="1000" placeholder="1-1000" required>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <form id="tw" method='POST'>
                                query:
                                <input type='text' name='search_query' placeholder="" required>

                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <input form="tw" class='button' id='download_button' type='submit' value='Search'>
                        </td>
                    </tr>

                </table>
            </td>
            <td align="center">
                <form action="index" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="upload" value="dictionary">
                    <input id="uploadbutton" type="file" multiple="multiple" name="file[]" onchange="this.form.submit();">
                    <div id="dragndrop"><p>or drop files here</p></div>
                </form>
            </td>
        </tr>
        <tr>
            <td align="center">
                <div id="error_message">
                    {% if (corpus_extension_errors|length > 0) and (corpus_size_errors|length == 0) %}
                        Error uploading {{corpus_extension_errors}}: Unsupported file format
                    {% elif (corpus_extension_errors|length == 0) and (corpus_size_errors|length > 0) %}
                        Error uploading {{corpus_size_errors}}: Exceeds 250MB
                    {% elif (corpus_extension_errors|length > 0) and (corpus_size_errors|length > 0) %}
                        Errors uploading {{corpus_size_errors}}: Unsupported file format and exceeds 250MB
                    {% endif %}
                </div>
            </td>
             <td align="center">
                <div id="error_message">
                    {% if (dictionary_extension_errors|length > 0) and (dictionary_size_errors|length == 0) %}
                        Error uploading {{dictionary_extension_errors}}: Unsupported format
                    {% elif (dictionary_extension_errors|length == 0) and (dictionary_size_errors|length > 0) %}
                        Error uploading {{dictionary_size_errors}}: Exceeds 250MB
                    {% elif (dictionary_extension_errors|length > 0) and (dictionary_size_errors|length > 0) %}
                        Errors uploading {{dictionary_size_errors}}: Unsupported format and exceeds 250MB
                    {% endif %}
                </div>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                {{corpora|safe}}
            </td>
            <td align="center" valign="top">
                {{dictionaries|safe}}
            </td>
        </tr>
    </table>

{% endblock %}