{% extends "base.html" %}
{% set active_page = active_page %}
{% block content %}
    {% set count = 0 %}
    {% set count2 = 0 %}
    {% if dictionaries|length > 0 %}
    <form method='POST' id="test">
    <table id="test" align="center">
        <tr>

        {% for dictionary in dictionaries %}
            {% if dictionary != dictionaries[dictionaries|length - 1] %}
                <td align="right">{{dictionary}}
            {% else %}
                <td align="left">{{dictionary}}
            {% endif %}
            {% if count < dictionaries|length and active_dictionaries[count] == True %}

            <select form="test" name="op{{count}}1">
                <option value="*" {% if formula|length > 0  %}{% if formula[count][1] == '*' %}selected='selected'{% endif %}{% endif %}>x</option>
                <option value="/" {% if formula|length > 0  %}{% if formula[count][1] == '/' %}selected='selected'{% endif %}{% endif %}>/</option>
                <option value="+" {% if formula|length > 0  %}{% if formula[count][1] == '+' %}selected='selected'{% endif %}{% endif %}>+</option>
                <option value="-" {% if formula|length > 0  %}{% if formula[count][1] == '-' %}selected='selected'{% endif %}{% endif %}>-</option>
            </select>
            <input type="number" class="number" name="quantity{{count}}" min="1" max="500" placeholder="1-500" value="{% if formula|length > 0  %}{{ formula[count][2] }}{% endif %}">
            {% if dictionary != dictionaries[dictionaries|length - 1] %}
                <select form="test" name="op{{count}}2">
                    <option value="+" {% if formula|length > 0 %}{% if formula[count][3] == '+' %}selected='selected'{% endif %}{% endif %}>+</option>
                    <option value="-" {% if formula|length > 0 %}{% if formula[count][3] == '-' %}selected='selected'{% endif %}{% endif %}>-</option>
                    <option value="*" {% if formula|length > 0 %}{% if formula[count][3] == '*' %}selected='selected'{% endif %}{% endif %}>x</option>
                    <option value="/" {% if formula|length > 0 %}{% if formula[count][3] == '/' %}selected='selected'{% endif %}{% endif %}>/</option>
                </select>
            {% endif %}
        </td>
        {% endif %}
        {% set count = count + 1 %}
        {% set count2 = count2 + 1 %}
        {% if count2 == 4 %}
            {% set count2 = 0%}
                </tr><tr>
            {% endif %}
        {% endfor %}

        </tr>
        <tr>
            <td colspan="4" align="center">
                <input class='button' id='edit_button' type='submit' value='Save formula'>
            </td>
        </tr>
    </table>
    </form>
    {% else %}
        <p>Must have at least one active file and dictionary</p>
    {% endif %}
{% endblock %}