{% extends "base.html" %}
{% set active_page = active_page %}
{% block content %}
    {% set count = 0 %}
    {% set count2 = 0 %}
    {% if dictionaries|length > 0 %}
    <form method='POST' id="test">
    <table id="test" align="center">
        <tr>

        {% for dictionary in dictionaries %}
        <td align="right">{{dictionary}}
            {% if count < dictionaries|length and active_dictionaries[count] == True %}

            <select form="test" name="op{{count}}1">
                <option value="*">x</option>
                <option value="/">/</option>
                <option value="+">+</option>
                <option value="-">-</option>
            </select>
            <input type="number" class="number" name="quantity{{count}}" min="1" max="500" placeholder="1-500" value="1">

                <select form="test" name="op{{count}}2">
                    <option value="+">+</option>
                    <option value="-">-</option>
                    <option value="*">x</option>
                    <option value="/">/</option>
                </select>
            </td>
            {% endif %}
            {% set count = count + 1 %}
            {% set count2 = count2 + 1 %}
            {% if count2 == 4 %}
                {% set count2 = 0%}
        </tr><tr>
            {% endif %}
        {% endfor %}

        </tr>
        <tr>
            <td>
                <input class='button' id='edit_button' type='submit' value='Save formula'>
            </td>
        </tr>
    </table>
    </form>
    {% else %}
        <p>Must have at least one active file and dictionary</p>
    {% endif %}
{% endblock %}